  .rose{
color: #e52485;
  }

  .blue{
    color: #00ADE9;
  }
  .green{
    color: #8abd24;
  }
  header {
    height: auto;
   background: linear-gradient(70deg, #00ADE9,
   #e52485,#8abd24
   );
    
  }
  aside {
    height: auto;
    background-color: lightslategray;
  }

.explication{
 margin-left: 35%;
}
  
  .article4 {
    height: auto;
    background-color: greenyellow;
  }
  footer {
    height: 200px;
    width: auto;
    background-color: rgb(208, 222, 223);
  }
  .tutu {
    height: 300px;
  }
  .logo{
width: 20%;
height: 20%;

  }

ul .liste::marker{
    content: "▾";
    color: #d2228c;
  }
  
  .space{
    height:30px;
    background-color: white;
  }


@media screen and (min-width :900px) {
  .logo{
    width: 167px;
  }
  

}

.icon-sn{
  display: flex;
  flex-direction: row-reverse;
  
  
}
svg{
  margin-right: 20px;
  width:40px ;
  height:40px  
  
}
/* unvisited link */
.icon-sn>a:link {
  color: red;
}

/* visited link */
.icon-sn>a:visited {

  color: #e52485;
}

/* mouse over link */
.icon-sn>a:hover {
  color: #00ADE9;
}

/* selected link */
.icon-sn>a:active {
  
  color: #8abd24;

}.icon{
  display: flex;
  justify-content: center;
  
}

.containt-img{
  display: flex;
}

.img-event{
  width: 70%;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width :900px) {
  .img-event{
    width: 500px;
  }
  

}

/*RAJOUTER PLUS DESPACE EN ENTRE LES ARTICLES EN MODE TELS
A faire :
Rajouter les articles correspondant

*/
